@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 16% 93%;
    --secondary-foreground: 210 9% 31%;
    --muted: 210 16% 93%;
    --muted-foreground: 210 4% 45%;
    --accent: 210 10% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 14% 89%;
    --input: 210 14% 89%;
    --ring: 25 95% 53%;
    --radius: 0.5rem;
    --chart-1: 211 100% 50%;
    --chart-2: 30 100% 60%;
    --chart-3: 130 58% 45%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 16% 93%;
    --sidebar-accent-foreground: 210 10% 23%;
    --sidebar-border: 210 14% 89%;
    --sidebar-ring: 25 95% 53%;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 210 17% 98%;
    --card: 210 10% 20%;
    --card-foreground: 210 17% 98%;
    --popover: 210 10% 20%;
    --popover-foreground: 210 17% 98%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 9% 25%;
    --secondary-foreground: 210 17% 98%;
    --muted: 210 9% 25%;
    --muted-foreground: 210 5% 63%;
    --accent: 210 10% 80%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 9% 30%;
    --input: 210 9% 30%;
    --ring: 25 95% 53%;
    --chart-1: 211 100% 50%;
    --chart-2: 30 100% 60%;
    --chart-3: 130 58% 55%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 210 10% 15%;
    --sidebar-foreground: 210 17% 98%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 9% 25%;
    --sidebar-accent-foreground: 210 17% 98%;
    --sidebar-border: 210 9% 30%;
    --sidebar-ring: 25 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
